// Colors
$steele: #4c4c4c;
$tung: #333333;
$red: #db2525;
$pink: rgb(250, 221, 239);
$yellow: #ece26f;
$grey: #808080;
$blue: #005fc5;
$green: rgb(52, 172, 119);
$money: rgba(157, 233, 43, 0.75);
$tan: #dad7c7;
$burnt: #acaa9e;
$whitey: rgba(255,255,255,.5);
$blackey: rgba(0,0,0,.3);