// Typefaces
$sans: "proxima-nova", sans-serif;
$serif: "adelle",serif;

$typeface-sans:  Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
$typeface-serif: Georgia, Cambria, "Times New Roman", Times, serif;

$verb: "verbexcondblack", serif;


